/* Estilos gerais para o site */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #222;
    color: white;
    padding: 10px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin: 0 15px;
}

.nav-toggle {
    display: none;
    cursor: pointer;
}

.hero {
    background-color: #217CA3;
    color: white;
    padding: 80px 0;
    text-align: center;
}

.hero .btn {
    background-color: #f5a623;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.hero .btn-secondary {
    background-color: #2c3e50;
}

/* Estilos para a página inicial */
.index-page .hero {
    background-color: #000;
}

/* Estilos para a página de login */
.login-page .form-group {
    margin-bottom: 20px;
}

.login-page .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Estilos para a página de comércios */
.commercios-page .card {
    display: inline-block;
    width: 100%;
    padding: 15px;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 5px;
}

.commercios-page .card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.commercios-page .card h4 {
    margin-top: 10px;
    font-size: 1.2em;
}

/* Estilos para o footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer .social-icons a {
    margin: 0 10px;
}

footer .social-icons img {
    width: 20px;
    height: 20px;
}

footer .footer-copy {
    font-size: 12px;
    margin-top: 15px;
}
