.navbar nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.card {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.card h4 {
    font-size: 1.25rem;
    color: #009688;
    margin-bottom: 0.5rem;
}

.card p {
    color: #4d4d4d;
    font-size: 0.95rem;
}

.footer .social-icons img {
    width: 28px;
    transition: transform 0.3s;
}
